.logon-container{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logon-container section img {
    width: 300px;
    height: 300px;
}

.logon-container section.form {
    width: 100%;
    max-width: 350px;
    text-align: center;
}

.logon-container section.form form h1{
    font-size: 32px;
    margin-bottom: 32px;
}

.cream-image {
    width: 800px;
    height: 600px;
    position: absolute;
    z-index: -1;
    left: 550px
}