.profile-container {
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
    margin-top: 0px
}

.profile-container header {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.profile-container header img {
    height: 150px;
}

.profile-container header button {
    height: 60px;
    width: 60px;
    border-radius: 4px;
    border: 1px solid #dcdce6;
    background: transparent;
    margin-left: 16px;
    transition: border-color 0.2s;
}

.profile-container header button:hover {
    border-color: #999;
}

.menu {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.pedidos {
    width: 50%;
    background-color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}

.pedidos:hover{
    transform: scale(1.1);
    transition-duration: 1000ms;
    cursor: pointer;
}

.profile-container ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
    list-style: none;
}

.profile-container ul li {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    height: 330px
}

.senha {
    text-align: center;
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: white;
    padding: 10px;
    border-radius: 10px;
    background-color: #5dbcd2;
}

.quantidade, .preco {
    display: block;
    color: #41414d;
    font-size: large;
}

.quantidade {
    margin-top: 10px;
    margin-bottom: 60px;
}

.imagem {
    position: absolute;
    border-radius: 10px;
    left: 340px;
    bottom: 120px;
    background-size: contain;
}

.profile-container ul button {
    background-color: rgb(72, 224, 72);
    border: 0;
    padding: 15px;
    border-radius: 30px;
    color: white;
    margin-top: 20px;
    margin-left: 110px
}


